<div class="palm-group" id="result">
    <div class="palm-group-title" x-mojo-loc=''>Event</div>
    <div class="palm-list">
        <div class="palm-row first" id="nameRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="name"></div>
            </div>
        </div>
        <div class="palm-row" id="descriptionRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="description"></div>
            </div>
        </div>
        <div class="palm-row" id="venueRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="venue"></div>
            </div>
        </div>
        <div class="palm-row" id="mapRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="map"></div>
            </div>
        </div>
        <div class="palm-row" x-mojo-touch-feedback="delayed" id="calEvent">
            <div class="palm-row-wrapper">
                <div class="left icon palm-account-icon local medium" id="calIcon"></div>
                <div class="title left">Add Event to Calendar</div>
            </div>
        </div>
        <div class="palm-row last" x-mojo-touch-feedback="delayed" id="emailEvent">
            <div class="palm-row-wrapper">
                <div class="left icon palm-account-icon gmail medium" id="gmailIcon"></div>
                <div class="title left">Email This Event</div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group" id="ratingsReviews">
    <div class="palm-group-title" x-mojo-loc=''>Event Details</div>
    <div class="palm-list">
        <div class="palm-row single" id="dateTimeRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="dateTime"></div>
            </div>
        </div>
        <div class="palm-row single" id="ticketPriceRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="ticketPrice"></div>
            </div>
        </div>
        <div class="palm-row single" id="eventURLRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="eventURL"></div>
            </div>
        </div>
        <div class="palm-row single" id="ticketURLRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="ticketURL"></div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group" id="ratingsReviews">
    <div class="palm-group-title" x-mojo-loc=''>Category</div>
    <div class="palm-list">
        <div class="palm-row single" id="categoryRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="category"></div>
            </div>
        </div>
    </div>
</div>
