<div id="queryInputDiv" class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>Find An Event nearYou</div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div x-mojo-element="TextField" id="name" class="textFieldClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ListSelector" id="cats" class="listselectorClass"></div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label">MM/DD/YYYY</div>
                    <div x-mojo-element="TextField" id="startDate" class="textFieldClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label">MM/DD/YYYY</div>
                    <div x-mojo-element="TextField" id="endDate" class="textFieldClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ListSelector" id="sort" class="listselectorClass"></div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="title">
                    <div x-mojo-element="Button" id="searchGPS" class="buttonClass medium"></div>
                </div>
            </div>
        </div>
        <div class="palm-divider solid"></div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label">zip</div>
                    <div x-mojo-element="TextField" id="zip" class="textFieldClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="title">
                    <div x-mojo-element="Button" id="searchZip" class="buttonClass small"></div>
                </div>
            </div>
        </div>
    </div>
</div>
